<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flash.toolbar.mapper.HdPromotionSortMapper" >
  <resultMap id="BaseResultMap" type="com.flash.toolbar.model.HdPromotionSort" >
    <id column="SORTID" property="sortid" jdbcType="VARCHAR" />
    <result column="MEMBERID" property="memberid" jdbcType="VARCHAR" />
    <result column="MOBILENO" property="mobileno" jdbcType="VARCHAR" />
    <result column="PROMOTIONID" property="promotionid" jdbcType="VARCHAR" />
    <result column="TOTALNUM" property="totalnum" jdbcType="DECIMAL" />
    <result column="TOPSCORE" property="topscore" jdbcType="DECIMAL" />
    <result column="TOPSCOREDATE" property="topscoredate" jdbcType="TIMESTAMP" />
    <result column="LASTSCORE" property="lastscore" jdbcType="DECIMAL" />
    <result column="LASTSCOREDATE" property="lastscoredate" jdbcType="TIMESTAMP" />
    <result column="COUNTRYNO" property="countryno" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="toperatorid" jdbcType="VARCHAR" />
    <result column="MODIFYMAN" property="modifyman" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    SORTID, MEMBERID, MOBILENO, PROMOTIONID, TOTALNUM, TOPSCORE, TOPSCOREDATE, LASTSCORE, 
    LASTSCOREDATE, COUNTRYNO, TOPERATORID, MODIFYMAN, MODIFYDATE
  </sql>
  
  <select id="selectByPromotionAndMemberId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HD_PROMOTIONSORT
    where MEMBERID = #{memberid,jdbcType=VARCHAR} and PROMOTIONID = #{promotionid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectPageByPromotionId" resultMap="BaseResultMap" >
    select * from (
    	select t.*, rownum rn from (
    		select * from HD_PROMOTIONSORT 
    		where promotionid = #{promotionid,jdbcType=VARCHAR} 
    		order by TOPSCORE desc, TOPSCOREDATE asc 
    	) t where rownum  <![CDATA[<=]]> #{endnum,jdbcType=DECIMAL}
    ) where rn <![CDATA[>=]]> #{startnum,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HD_PROMOTIONSORT
    where SORTID = #{sortid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HD_PROMOTIONSORT
    where SORTID = #{sortid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flash.toolbar.model.HdPromotionSort" >
    insert into HD_PROMOTIONSORT (SORTID, MEMBERID, MOBILENO, 
      PROMOTIONID, TOTALNUM, TOPSCORE, 
      TOPSCOREDATE, LASTSCORE, LASTSCOREDATE, 
      COUNTRYNO, TOPERATORID, MODIFYMAN, 
      MODIFYDATE)
    values (#{sortid,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{mobileno,jdbcType=VARCHAR}, 
      #{promotionid,jdbcType=VARCHAR}, #{totalnum,jdbcType=DECIMAL}, #{topscore,jdbcType=DECIMAL}, 
      #{topscoredate,jdbcType=TIMESTAMP}, #{lastscore,jdbcType=DECIMAL}, #{lastscoredate,jdbcType=TIMESTAMP}, 
      #{countryno,jdbcType=VARCHAR}, #{toperatorid,jdbcType=VARCHAR}, #{modifyman,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flash.toolbar.model.HdPromotionSort" >
    insert into HD_PROMOTIONSORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sortid != null" >
        SORTID,
      </if>
      <if test="memberid != null" >
        MEMBERID,
      </if>
      <if test="mobileno != null" >
        MOBILENO,
      </if>
      <if test="promotionid != null" >
        PROMOTIONID,
      </if>
      <if test="totalnum != null" >
        TOTALNUM,
      </if>
      <if test="topscore != null" >
        TOPSCORE,
      </if>
      <if test="topscoredate != null" >
        TOPSCOREDATE,
      </if>
      <if test="lastscore != null" >
        LASTSCORE,
      </if>
      <if test="lastscoredate != null" >
        LASTSCOREDATE,
      </if>
      <if test="countryno != null" >
        COUNTRYNO,
      </if>
      <if test="toperatorid != null" >
        TOPERATORID,
      </if>
      <if test="modifyman != null" >
        MODIFYMAN,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sortid != null" >
        #{sortid,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null" >
        #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="promotionid != null" >
        #{promotionid,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="topscore != null" >
        #{topscore,jdbcType=DECIMAL},
      </if>
      <if test="topscoredate != null" >
        #{topscoredate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastscore != null" >
        #{lastscore,jdbcType=DECIMAL},
      </if>
      <if test="lastscoredate != null" >
        #{lastscoredate,jdbcType=TIMESTAMP},
      </if>
      <if test="countryno != null" >
        #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flash.toolbar.model.HdPromotionSort" >
    update HD_PROMOTIONSORT
    <set >
      <if test="memberid != null" >
        MEMBERID = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null" >
        MOBILENO = #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="promotionid != null" >
        PROMOTIONID = #{promotionid,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null" >
        TOTALNUM = #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="topscore != null" >
        TOPSCORE = #{topscore,jdbcType=DECIMAL},
      </if>
      <if test="topscoredate != null" >
        TOPSCOREDATE = #{topscoredate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastscore != null" >
        LASTSCORE = #{lastscore,jdbcType=DECIMAL},
      </if>
      <if test="lastscoredate != null" >
        LASTSCOREDATE = #{lastscoredate,jdbcType=TIMESTAMP},
      </if>
      <if test="countryno != null" >
        COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SORTID = #{sortid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flash.toolbar.model.HdPromotionSort" >
    update HD_PROMOTIONSORT
    set MEMBERID = #{memberid,jdbcType=VARCHAR},
      MOBILENO = #{mobileno,jdbcType=VARCHAR},
      PROMOTIONID = #{promotionid,jdbcType=VARCHAR},
      TOTALNUM = #{totalnum,jdbcType=DECIMAL},
      TOPSCORE = #{topscore,jdbcType=DECIMAL},
      TOPSCOREDATE = #{topscoredate,jdbcType=TIMESTAMP},
      LASTSCORE = #{lastscore,jdbcType=DECIMAL},
      LASTSCOREDATE = #{lastscoredate,jdbcType=TIMESTAMP},
      COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP}
    where SORTID = #{sortid,jdbcType=VARCHAR}
  </update>
</mapper>