<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flash.toolbar.mapper.HyBlackImportBatchMapper" >
  <resultMap id="BaseResultMap" type="com.flash.toolbar.model.HyBlackImportBatch" >
    <id column="BATCHID" property="batchid" jdbcType="VARCHAR" />
    <result column="BATCHNO" property="batchno" jdbcType="VARCHAR" />
    <result column="IMPORTDATE" property="importdate" jdbcType="TIMESTAMP" />
    <result column="IMPORTNUM" property="importnum" jdbcType="DECIMAL" />
    <result column="COUNTRYNO" property="countryno" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="toperatorid" jdbcType="VARCHAR" />
    <result column="TOPERATORNO" property="toperatorno" jdbcType="VARCHAR" />
    <result column="TOPERATORNAME" property="toperatorname" jdbcType="VARCHAR" />
    <result column="MODIFYMAN" property="modifyman" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    BATCHID, BATCHNO, IMPORTDATE, IMPORTNUM, COUNTRYNO, TOPERATORID, TOPERATORNO, TOPERATORNAME, 
    MODIFYMAN, MODIFYDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HY_BLACKIMPORTBATCH
    where BATCHID = #{batchid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HY_BLACKIMPORTBATCH
    where BATCHID = #{batchid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flash.toolbar.model.HyBlackImportBatch" >
    insert into HY_BLACKIMPORTBATCH (BATCHID, BATCHNO, IMPORTDATE, 
      IMPORTNUM, COUNTRYNO, TOPERATORID, 
      TOPERATORNO, TOPERATORNAME, MODIFYMAN, 
      MODIFYDATE)
    values (#{batchid,jdbcType=VARCHAR}, #{batchno,jdbcType=VARCHAR}, #{importdate,jdbcType=TIMESTAMP}, 
      #{importnum,jdbcType=DECIMAL}, #{countryno,jdbcType=VARCHAR}, #{toperatorid,jdbcType=VARCHAR}, 
      #{toperatorno,jdbcType=VARCHAR}, #{toperatorname,jdbcType=VARCHAR}, #{modifyman,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flash.toolbar.model.HyBlackImportBatch" >
    insert into HY_BLACKIMPORTBATCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="batchid != null" >
        BATCHID,
      </if>
      <if test="batchno != null" >
        BATCHNO,
      </if>
      <if test="importdate != null" >
        IMPORTDATE,
      </if>
      <if test="importnum != null" >
        IMPORTNUM,
      </if>
      <if test="countryno != null" >
        COUNTRYNO,
      </if>
      <if test="toperatorid != null" >
        TOPERATORID,
      </if>
      <if test="toperatorno != null" >
        TOPERATORNO,
      </if>
      <if test="toperatorname != null" >
        TOPERATORNAME,
      </if>
      <if test="modifyman != null" >
        MODIFYMAN,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="batchid != null" >
        #{batchid,jdbcType=VARCHAR},
      </if>
      <if test="batchno != null" >
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="importdate != null" >
        #{importdate,jdbcType=TIMESTAMP},
      </if>
      <if test="importnum != null" >
        #{importnum,jdbcType=DECIMAL},
      </if>
      <if test="countryno != null" >
        #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="toperatorno != null" >
        #{toperatorno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorname != null" >
        #{toperatorname,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flash.toolbar.model.HyBlackImportBatch" >
    update HY_BLACKIMPORTBATCH
    <set >
      <if test="batchno != null" >
        BATCHNO = #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="importdate != null" >
        IMPORTDATE = #{importdate,jdbcType=TIMESTAMP},
      </if>
      <if test="importnum != null" >
        IMPORTNUM = #{importnum,jdbcType=DECIMAL},
      </if>
      <if test="countryno != null" >
        COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="toperatorno != null" >
        TOPERATORNO = #{toperatorno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorname != null" >
        TOPERATORNAME = #{toperatorname,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BATCHID = #{batchid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flash.toolbar.model.HyBlackImportBatch" >
    update HY_BLACKIMPORTBATCH
    set BATCHNO = #{batchno,jdbcType=VARCHAR},
      IMPORTDATE = #{importdate,jdbcType=TIMESTAMP},
      IMPORTNUM = #{importnum,jdbcType=DECIMAL},
      COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      TOPERATORNO = #{toperatorno,jdbcType=VARCHAR},
      TOPERATORNAME = #{toperatorname,jdbcType=VARCHAR},
      MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP}
    where BATCHID = #{batchid,jdbcType=VARCHAR}
  </update>
</mapper>