<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flash.toolbar.omp.mapper.HyBlackListMapper" >
	<cache></cache>
  <resultMap id="BaseResultMap" type="com.flash.toolbar.omp.model.HyBlackList" >
    <id column="BLISTID" property="bListId" jdbcType="VARCHAR" />
    <result column="BATCHID" property="batchId" jdbcType="VARCHAR" />
    <result column="MOBILENO" property="mobileNo" jdbcType="VARCHAR" />
    <result column="COUNTRYNO" property="countryNo" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="tOperatorId" jdbcType="VARCHAR" />
    <result column="ADDDATE" property="addDate" jdbcType="DATE" />
  </resultMap>
  <resultMap id="BaseResultMapModel" type="com.flash.toolbar.omp.blacklist.bo.HyBlackListModel" >
    <result column="BATCHNO" property="batchNo" jdbcType="VARCHAR" />
    <result column="BLISTID" property="bean.bListId" jdbcType="VARCHAR" />
    <result column="BATCHID" property="bean.batchId" jdbcType="VARCHAR" />
    <result column="MOBILENO" property="bean.mobileNo" jdbcType="VARCHAR" />
    <result column="COUNTRYNO" property="bean.countryNo" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="bean.tOperatorId" jdbcType="VARCHAR" />
    <result column="ADDDATE" property="bean.addDate" jdbcType="DATE" />
  </resultMap>  
  <sql id="Base_Column_List" >
    BLISTID, BATCHID, MOBILENO, COUNTRYNO, TOPERATORID,ADDDATE
  </sql>
	<sql id="Example_Where_Clause">
		<where>
			1=1
			<if test="bean.bListId != null and bean.bListId != ''">
				and bListId = #{bean.bListId,jdbcType=VARCHAR}
			</if>
			<if test="bean.batchId != null and bean.batchId != ''">
				and batchId = #{bean.batchId,jdbcType=VARCHAR}
			</if>
			<if test="bean.countryNo != null and bean.countryNo != ''">
				and countryNo = #{bean.countryNo,jdbcType=VARCHAR}
			</if>
			<if test="bean.mobileNo != null and bean.mobileNo != ''">
				and mobileNo like  #{bean.mobileNo,jdbcType=VARCHAR} || '%'
			</if>
			<if test="bean.tOperatorId != null and bean.tOperatorId!= ''">
				and tOperatorId = #{bean.tOperatorId,jdbcType=VARCHAR}
			</if>
			<if test="startTime != null">
				and addDate <![CDATA[>=]]>
				#{startTime,jdbcType=DATE}
			</if>			
			<if test="endTime != null">
				and addDate <![CDATA[<=]]>
				#{endTime,jdbcType=DATE}
			</if>
		</where>
	</sql>  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hy_BlackList
    where BLISTID = #{bListId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPageSelective" resultMap="BaseResultMapModel" parameterType="com.flash.toolbar.omp.blacklist.bo.HyBlackListModel">
		select
		*
		from ( 
			select
				<include refid="Base_Column_List" />,batchno
				, ROWNUM RN from 
					( select <include refid="Base_Column_List" />,batchno,rownum rn from (
						select
						a.*,b.batchno,rownum
						from hy_BlackList a inner join hy_blackimportbatch b on a.batchid=b.batchid where 1=1
							<if test="bean.bListId != null and bean.bListId != ''">
								and a.bListId = #{bean.bListId,jdbcType=VARCHAR}
							</if>
							<if test="bean.batchId != null and bean.batchId != ''">
								and a.batchId = #{bean.batchId,jdbcType=VARCHAR}
							</if>
							<if test="bean.countryNo != null and bean.countryNo != ''">
								and a.countryNo = #{bean.countryNo,jdbcType=VARCHAR}
							</if>
							<if test="bean.mobileNo != null and bean.mobileNo != ''">
								and a.mobileNo like  #{bean.mobileNo,jdbcType=VARCHAR} || '%'
							</if>
							<if test="bean.tOperatorId != null and bean.tOperatorId!= ''">
								and a.tOperatorId = #{bean.tOperatorId,jdbcType=VARCHAR}
							</if>
							<if test="batchNo != null and batchNo!= ''">
								and b.batchno = #{batchNo,jdbcType=VARCHAR}
							</if>
							<if test="startTime != null">
								and a.addDate <![CDATA[>=]]>
								#{startTime,jdbcType=DATE}
							</if>			
							<if test="endTime != null">
								and a.addDate <![CDATA[<=]]>
								#{endTime,jdbcType=DATE}
							</if>						
						order by batchno desc
						) 
					) WHERE rn <![CDATA[<=]]> ${pager.pageTail} 
		) WHERE RN <![CDATA[>=]]>
		${pager.pageOffset}  
  </select> 
	<select id="countByCondition" parameterType="Object" resultType="java.lang.Integer"> 
		select count(*) from hy_BlackList
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hy_BlackList
    where BLISTID = #{bListId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteExistMobileNo" parameterType="map" >
	DELETE FROM hy_BlackList where 1=1
	<if test="qxUserModel.bean.countryno != null and qxUserModel.bean.countryno != ''">
		and countryNo = #{qxUserModel.bean.countryno,jdbcType=VARCHAR}
	</if>	
	<if test="qxUserModel.bean.toperatorid != null and qxUserModel.bean.toperatorid != ''">
		and tOperatorId = #{qxUserModel.bean.toperatorid,jdbcType=VARCHAR}
	</if>	
	and MOBILENO in
	<foreach item="idItem" collection="bListIds" open="(" separator="union" close=")">
	select #{idItem} from dual
	</foreach>  
  </delete>  
  <delete id="deleteBlackListBatch" parameterType="map">
	DELETE FROM hy_BlackList where 1=1
	<if test="qxUserModel.bean.countryno != null and qxUserModel.bean.countryno != ''">
		and countryNo = #{qxUserModel.bean.countryno,jdbcType=VARCHAR}
	</if>	
	<if test="qxUserModel.bean.toperatorid != null and qxUserModel.bean.toperatorid != ''">
		and tOperatorId = #{qxUserModel.bean.toperatorid,jdbcType=VARCHAR}
	</if>	
	and BLISTID in
	<foreach item="idItem" collection="bListIds" open="(" separator="union" close=")">
	select #{idItem} from dual
	</foreach>
  </delete>  
  <insert id="insert" parameterType="com.flash.toolbar.omp.model.HyBlackList" >
    insert into hy_BlackList 
    values (#{bListId,jdbcType=VARCHAR}, #{batchId,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, 
      #{countryNo,jdbcType=VARCHAR},#{tOperatorId,jdbcType=VARCHAR}, #{addDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.flash.toolbar.omp.model.HyBlackList" >
    insert into hy_BlackList
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bListId != null" >
        BLISTID,
      </if>
      <if test="batchId != null" >
        BATCHID,
      </if>
      <if test="mobileNo != null" >
        MOBILENO,
      </if>
      <if test="countryNo != null" >
        COUNTRYNO,
      </if>
      <if test="tOperatorId != null" >
        TOPERATORID,
      </if>
      <if test="addDate != null" >
        ADDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bListId != null" >
        #{bListId,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="countryNo != null" >
        #{countryNo,jdbcType=VARCHAR},
      </if>
      <if test="tOperatorId != null" >
        #{tOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  
    <insert id="insertBlackListBatch" useGeneratedKeys="false" parameterType="java.util.List">  
        insert into hy_BlackList (
        <include refid="Base_Column_List" />
        ) 
        <foreach collection="list" item="item" index="index" separator="union all" >  
            (select #{item.bListId},#{item.batchId},#{item.mobileNo},#{item.countryNo},#{item.tOperatorId},#{item.addDate,jdbcType=DATE} from dual)
        </foreach>
    </insert>    
    
    <select id="selectCountByMobileno" resultType="java.lang.Integer">
		select count(0) from hy_BlackList where  mobileNo = #{mobileno,jdbcType=VARCHAR}
	</select>
</mapper>