<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flash.toolbar.omp.mapper.RzAlertThresholdLogMapper" >
  <resultMap id="BaseResultMap" type="com.flash.toolbar.omp.model.RzAlertThresholdLog" >
    <id column="ALERTTHRESHOLDLOGID" property="alertthresholdlogid" jdbcType="VARCHAR" />
    <result column="MEMBERID" property="memberid" jdbcType="VARCHAR" />
    <result column="MOBILENO" property="mobileno" jdbcType="VARCHAR" />
    <result column="FIRSTFLOWVALUE" property="firstflowvalue" jdbcType="DECIMAL" />
    <result column="SECONDFLOWVALUE" property="secondflowvalue" jdbcType="DECIMAL" />
    <result column="COUNTRYNO" property="countryno" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="toperatorid" jdbcType="VARCHAR" />
    <result column="SETDATE" property="setdate" jdbcType="TIMESTAMP" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="MODIFYMAN" property="modifyman" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ALERTTHRESHOLDLOGID, MEMBERID, MOBILENO, FIRSTFLOWVALUE, SECONDFLOWVALUE, COUNTRYNO, 
    TOPERATORID, SETDATE, DELFLAG, MODIFYMAN, MODIFYDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RZ_ALERTTHRESHOLDLOG
    where ALERTTHRESHOLDLOGID = #{alertthresholdlogid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RZ_ALERTTHRESHOLDLOG
    where ALERTTHRESHOLDLOGID = #{alertthresholdlogid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flash.toolbar.omp.model.RzAlertThresholdLog" >
    insert into RZ_ALERTTHRESHOLDLOG (ALERTTHRESHOLDLOGID, MEMBERID, MOBILENO, 
      FIRSTFLOWVALUE, SECONDFLOWVALUE, COUNTRYNO, 
      TOPERATORID, SETDATE, DELFLAG, 
      MODIFYMAN, MODIFYDATE)
    values (#{alertthresholdlogid,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{mobileno,jdbcType=VARCHAR}, 
      #{firstflowvalue,jdbcType=DECIMAL}, #{secondflowvalue,jdbcType=DECIMAL}, #{countryno,jdbcType=VARCHAR}, 
      #{toperatorid,jdbcType=VARCHAR}, #{setdate,jdbcType=TIMESTAMP}, #{delflag,jdbcType=VARCHAR}, 
      #{modifyman,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flash.toolbar.omp.model.RzAlertThresholdLog" >
    insert into RZ_ALERTTHRESHOLDLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alertthresholdlogid != null" >
        ALERTTHRESHOLDLOGID,
      </if>
      <if test="memberid != null" >
        MEMBERID,
      </if>
      <if test="mobileno != null" >
        MOBILENO,
      </if>
      <if test="firstflowvalue != null" >
        FIRSTFLOWVALUE,
      </if>
      <if test="secondflowvalue != null" >
        SECONDFLOWVALUE,
      </if>
      <if test="countryno != null" >
        COUNTRYNO,
      </if>
      <if test="toperatorid != null" >
        TOPERATORID,
      </if>
      <if test="setdate != null" >
        SETDATE,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="modifyman != null" >
        MODIFYMAN,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alertthresholdlogid != null" >
        #{alertthresholdlogid,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null" >
        #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="firstflowvalue != null" >
        #{firstflowvalue,jdbcType=DECIMAL},
      </if>
      <if test="secondflowvalue != null" >
        #{secondflowvalue,jdbcType=DECIMAL},
      </if>
      <if test="countryno != null" >
        #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        #{setdate,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flash.toolbar.omp.model.RzAlertThresholdLog" >
    update RZ_ALERTTHRESHOLDLOG
    <set >
      <if test="memberid != null" >
        MEMBERID = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null" >
        MOBILENO = #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="firstflowvalue != null" >
        FIRSTFLOWVALUE = #{firstflowvalue,jdbcType=DECIMAL},
      </if>
      <if test="secondflowvalue != null" >
        SECONDFLOWVALUE = #{secondflowvalue,jdbcType=DECIMAL},
      </if>
      <if test="countryno != null" >
        COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        SETDATE = #{setdate,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ALERTTHRESHOLDLOGID = #{alertthresholdlogid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flash.toolbar.omp.model.RzAlertThresholdLog" >
    update RZ_ALERTTHRESHOLDLOG
    set MEMBERID = #{memberid,jdbcType=VARCHAR},
      MOBILENO = #{mobileno,jdbcType=VARCHAR},
      FIRSTFLOWVALUE = #{firstflowvalue,jdbcType=DECIMAL},
      SECONDFLOWVALUE = #{secondflowvalue,jdbcType=DECIMAL},
      COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      SETDATE = #{setdate,jdbcType=TIMESTAMP},
      DELFLAG = #{delflag,jdbcType=VARCHAR},
      MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP}
    where ALERTTHRESHOLDLOGID = #{alertthresholdlogid,jdbcType=VARCHAR}
  </update>
</mapper>