<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flash.toolbar.omp.mapper.SysOperatorSegMapper" >
  <resultMap id="BaseResultMap" type="com.flash.toolbar.omp.model.SysOperatorSeg" >
    <id column="OPERATORSEGID" property="operatorsegid" jdbcType="VARCHAR" />
    <result column="STARTSEGNO" property="startsegno" jdbcType="VARCHAR" />
    <result column="ENDSEGNO" property="endsegno" jdbcType="VARCHAR" />
    <result column="COUNTRYNO" property="countryno" jdbcType="VARCHAR" />
    <result column="TOPERATORID" property="toperatorid" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="MODIFYMAN" property="modifyman" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPERATORSEGID, STARTSEGNO, ENDSEGNO, COUNTRYNO, TOPERATORID, DELFLAG, MODIFYMAN, 
    MODIFYDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_OPERATORSEG
    where OPERATORSEGID = #{operatorsegid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_OPERATORSEG
    where OPERATORSEGID = #{operatorsegid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.flash.toolbar.omp.model.SysOperatorSeg" >
    insert into SYS_OPERATORSEG (OPERATORSEGID, STARTSEGNO, ENDSEGNO, 
      COUNTRYNO, TOPERATORID, DELFLAG, 
      MODIFYMAN, MODIFYDATE)
    values (#{operatorsegid,jdbcType=VARCHAR}, #{startsegno,jdbcType=VARCHAR}, #{endsegno,jdbcType=VARCHAR}, 
      #{countryno,jdbcType=VARCHAR}, #{toperatorid,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, 
      #{modifyman,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flash.toolbar.omp.model.SysOperatorSeg" >
    insert into SYS_OPERATORSEG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operatorsegid != null" >
        OPERATORSEGID,
      </if>
      <if test="startsegno != null" >
        STARTSEGNO,
      </if>
      <if test="endsegno != null" >
        ENDSEGNO,
      </if>
      <if test="countryno != null" >
        COUNTRYNO,
      </if>
      <if test="toperatorid != null" >
        TOPERATORID,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="modifyman != null" >
        MODIFYMAN,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operatorsegid != null" >
        #{operatorsegid,jdbcType=VARCHAR},
      </if>
      <if test="startsegno != null" >
        #{startsegno,jdbcType=VARCHAR},
      </if>
      <if test="endsegno != null" >
        #{endsegno,jdbcType=VARCHAR},
      </if>
      <if test="countryno != null" >
        #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flash.toolbar.omp.model.SysOperatorSeg" >
    update SYS_OPERATORSEG
    <set >
      <if test="startsegno != null" >
        STARTSEGNO = #{startsegno,jdbcType=VARCHAR},
      </if>
      <if test="endsegno != null" >
        ENDSEGNO = #{endsegno,jdbcType=VARCHAR},
      </if>
      <if test="countryno != null" >
        COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      </if>
      <if test="toperatorid != null" >
        TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="modifyman != null" >
        MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OPERATORSEGID = #{operatorsegid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flash.toolbar.omp.model.SysOperatorSeg" >
    update SYS_OPERATORSEG
    set STARTSEGNO = #{startsegno,jdbcType=VARCHAR},
      ENDSEGNO = #{endsegno,jdbcType=VARCHAR},
      COUNTRYNO = #{countryno,jdbcType=VARCHAR},
      TOPERATORID = #{toperatorid,jdbcType=VARCHAR},
      DELFLAG = #{delflag,jdbcType=VARCHAR},
      MODIFYMAN = #{modifyman,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP}
    where OPERATORSEGID = #{operatorsegid,jdbcType=VARCHAR}
  </update>
</mapper>